Source: kded
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 1.2.0),
               kdoctools-dev (>= 5.4.0),
               kinit-dev (>= 5.4.0),
               kio-dev (>= 5.4.0),
               libkf5archive-dev (>= 5.4.0),
               libkf5auth-dev (>= 5.4.0),
               libkf5bookmarks-dev (>= 5.4.0),
               libkf5codecs-dev (>= 5.4.0),
               libkf5completion-dev (>= 5.4.0),
               libkf5config-dev (>= 5.4.0),
               libkf5configwidgets-dev (>= 5.4.0),
               libkf5coreaddons-dev (>= 5.4.0),
               libkf5crash-dev (>= 5.4.0),
               libkf5dbusaddons-dev (>= 5.4.0),
               libkf5globalaccel-dev (>= 5.4.0),
               libkf5guiaddons-dev (>= 5.4.0),
               libkf5i18n-dev (>= 5.4.0),
               libkf5iconthemes-dev (>= 5.4.0),
               libkf5itemviews-dev (>= 5.4.0),
               libkf5jobwidgets-dev (>= 5.4.0),
               libkf5kjs-dev (>= 5.4.0),
               libkf5service-dev (>= 5.4.0),
               libkf5solid-dev (>= 5.4.0),
               libkf5sonnet-dev (>= 5.4.0),
               libkf5textwidgets-dev (>= 5.4.0),
               libkf5widgetsaddons-dev (>= 5.4.0),
               libkf5windowsystem-dev (>= 5.4.0),
               libkf5xmlgui-dev (>= 5.4.0),
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev
Standards-Version: 3.9.5
Homepage: https://projects.kde.org/projects/frameworks/kded
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/frameworks/kded.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/frameworks/kded.git

Package: kded5-dev
Section: libdevel
Architecture: any
Depends: kded5,
         libkf5coreaddons-dev,
         libkf5crash-dev,
         libkf5dbusaddons-dev,
         libkf5service-dev,
         ${misc:Depends}
Description: Extensible daemon for providing session services
 KDED runs in the background and performs a number of small tasks.
 Some of these tasks are built in, others are started on demand.
 .
 Contains development files.

Package: kded5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Extensible daemon for providing session services
 KDED runs in the background and performs a number of small tasks.
 Some of these tasks are built in, others are started on demand.

Package: kded5-dbg
Section: debug
Priority: extra
Architecture: any
Depends: kded5 (= ${binary:Version}), ${misc:Depends}
Description: Extensible daemon for providing session services
 KDED runs in the background and performs a number of small tasks.
 Some of these tasks are built in, others are started on demand.
 .
 Contains debug symbols for kded.
