Source: kded
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.11.0),
               kdoctools-dev (>= 5.11.0),
               kinit-dev (>= 5.11.0),
               libkf5config-dev (>= 5.11.0),
               libkf5coreaddons-dev (>= 5.11.0),
               libkf5crash-dev (>= 5.11.0),
               libkf5dbusaddons-dev (>= 5.11.0),
               libkf5service-dev (>= 5.11.0),
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev (>= 5.4)
Standards-Version: 3.9.6
Homepage: https://projects.kde.org/projects/frameworks/kded
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/frameworks/kded.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/frameworks/kded.git

Package: kded5-dev
Section: libdevel
Architecture: any
Depends: kded5 (= ${binary:Version}),
         libkf5coreaddons-dev (>= 5.11.0),
         libkf5crash-dev (>= 5.11.0),
         libkf5dbusaddons-dev (>= 5.11.0),
         libkf5service-dev (>= 5.11.0),
         ${misc:Depends}
Description: Extensible daemon for providing session services
 KDED runs in the background and performs a number of small tasks.
 Some of these tasks are built in, others are started on demand.
 .
 Contains development files.

Package: kded5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Extensible daemon for providing session services
 KDED runs in the background and performs a number of small tasks.
 Some of these tasks are built in, others are started on demand.

Package: kded5-dbg
Section: debug
Priority: extra
Architecture: any
Depends: kded5 (= ${binary:Version}), ${misc:Depends}
Description: Extensible daemon for providing session services
 KDED runs in the background and performs a number of small tasks.
 Some of these tasks are built in, others are started on demand.
 .
 Contains debug symbols for kded.
